/* VARIABLES */
:root {
    --background-color: linear-gradient(to right, #B0AB3C, #FCF788);
    --color: #FCF788;
    --body-color: linear-gradient(to right, #AD4FB3, #4F5DB3);
}

/* START */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--body-color);
}

.main-content {
    color: var(--color);
}

/* NAVIGATION */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--body-color);
}

.logo{
    color: var(--color);
    letter-spacing: 3px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    z-index: 1;
}

.nav-links li{
    list-style: none;
    position: relative;
}

.nav-link{
    color: var(--color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

/* HOVER UNDERLINE */
@media screen and (min-width: 769px){
    .nav-link:after{
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .nav-links {
        width: 50%;
    }
    
    .nav-link:hover:after{
        width: 100%;
        left: 0;
    }
}

/* NAVIGATION RESPONSIVE MOBILE */
.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--color);
    margin: 5px;
    margin-left: 35vw;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    /* NA VRAGEN */
    .page-content {
        overflow-x: hidden;
        position: relative;
        height: auto;
    }

    .nav-links{
        position: absolute;
        right: 0;
        height: 40vh;
        top: 8vh;
        background-color: #C5A3FF;
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        border: solid 2px;
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-link {
        color: white;
    }

    .burger{
        display: block;
        margin-right: 50px;
    }

    .logo {
        margin: 0px 50px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* BURGER ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* BODY */

.index-content, .about-content, .contact-links {
    text-align: center;
    overflow: hidden;
    margin: 30px 30px;
}

/* INDEX PAGE */


/* ABOUT PAGE */
.learning ul {
    list-style: none;
}

/* CONTACT PAGE */
.contact-links ul {
    list-style: none;
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.contact-links img {
    height: 128px;
    width: 128px;
    padding: 60px;
}

.contact-links p {
    color: white;
    text-decoration: none;
}