body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVIGATION */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: lightblue;
}

.logo{
    color: black;
    letter-spacing: 3px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    z-index: 1;
}

.nav-links li{
    list-style: none;
    position: relative;
}

.nav-link{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    position: relative;
}

/* PRESERVED FOR HOVER UNDERLINE */
@media screen and (min-width: 769px){
    .nav-link:after{
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .nav-link:hover:after{
        width: 100%;
        left: 0;
    }
}

/* NAVIGATION RESPONSIVE MOBILE */
.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    margin-left: 35vw;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0;
        height: 64vh;
        top: 8vh;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* BURGER ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* TEMPORARY NAVBAR FIX */
#hide{
    display: none;
}